@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --golden: #c5a365;
  --success: #49a569;
  --green-100: #d8e9e4;
  --green-300: #2b5f44;
  --green-500: #243831;
  --grey-100: #bbc2c0;
  --grey-300: #939494;

  --text-primary: #191919;

  --font-family: 'Inter';
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;

  font-family: var(--font-family);
}

@font-face {
  font-family: 'IBM-Plex-Sans-Thai';
  src: url('./fonts/IBMPlexSansThai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@keyframes slideDown {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.brand-font {
  font-family: 'Castoro';
}

.ibm-font {
  font-family: 'IBM-Plex-Sans-Thai';
}
