@tailwind base;
@tailwind components;
@tailwind utilities;
@import './theme.css';
@import './font/GraphikThai/fonts.css';
@import './font/TT_Interphases_Pro/font.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

input {
  font-family: var(--font-family-en), var(--font-family-th);
  &:lang(th) {
    font-family: var(--font-family-th);
  }
  &:lang(en) {
    font-family: var(--font-family-en);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
